<div class="header">
  <div class="left">
    <a class="button-link" href="https://hub.jazz.net">
      <img class="bluemix-logo" src="https://hub.jazz.net/api/v1/composition/graphics/header/bluemix-logo.png" />
      <span class="devopsservices-text">IBM <span class="bluemix-text">Bluemix</span> DevOps Services</span>
    </a>
  </div>
  <div class="right">
    <span class="app-title">{{title}}</span>
  </div>
</div>
<div class="content">

  <form method="post">
        <fieldset>
                               <legend>What do you want to do? </legend>
                        <input type="checkbox" name="parkattraction" value="1" />Space Montain<br />
                        <input type="checkbox" name="parkattraction" value="2" />Gira-gira<br />
                        <input type="checkbox" name="parkattraction" value="3" />Splash<br />
                        <input type="submit" value="Build my rote" />

        </fieldset>
</form>
  <p><a href="/docs">Browse the Swagger UI</a></p>
</div>
